


#root {
  margin: 0;
  padding: 0;
  text-align: center;
  
}

.div-principal-lp{
  display: flex;
  position: absolute;
  flex-wrap: wrap;
  height: 100vh;
  width: 100%;
  top: 0;
  justify-content: flex-start;
  background: linear-gradient(#000, #00635A);

}



.menu-principal{
  display: flex;
  flex-wrap: wrap;
  background: #2E3738;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  height: 80px;
  align-items: center;
  justify-content: space-around;
}

.menu-principal img{
  height: 30%;
}

.botao-cadastrar-menu{
  background: #13C9B8;
  color: #000;
  display: flex;
  align-items: center;
  font-family: var(--fonte-principal);
  height: 50px;
}

.banner-imagem-texto{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  height: 100vh;
  font-family: var(--fonte-principal);
  margin: 0 auto;

}

.conteudo-banner{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: 50%;
}

.conteudo-banner h1{
  display: flex;
  margin-left: 70px;
  font-size: 2.1em;
  font-weight: 700;
  text-align: left;
  color: #fff;
}

.conteudo-banner h2{
  display: flex;
  color: #fff;
  width: 100%;
  margin: 0;
  margin-left: 70px;
  font-size: 2.1em;
  font-weight: 700;
  text-align: left;
}

.conteudo-topo{
  display: flex;
  flex-wrap: wrap;
}

.conteudo-banner p{
  display: flex;
  color: #fff;
  font-size: 0.7em;
  margin-left: 70px;
  font-weight: 700;
  width: 100%;
  text-align: left;
}

.config-botao-banner{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.botao-cadastrar-banner{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  background-color: #fff;
  color: #000;
  margin: 20px 30px;
  height: 40px;
  width: 50%;
}

.icone-botao-menu{
  display: flex;
  width: 40px;
  
}

.icone-botao-menu-2{
  width: 50px;
}


.imagem-banner-direita{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-end;
  width: 50%;
}

.imagem-banner-direita img{
  display: flex;
  width: 80%;
  max-width: 380px;


}


.div-segunda-dobra{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #fff;
  width: 100%;
}

.div-segunda-dobra h2{
  color: #000;
  width: 100%;
  font-family: var(--fonte-principal);
  font-size: 32px;
}

.div-segunda-dobra h3{
  color: #000;
  width: 100%;
  font-family: var(--fonte-principal);  
}

.card-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}



.card-one{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #2E3738;
  width: 15%;
  max-width: 180px;
  border-radius: 15px;
}

.card-one h4{
  padding: 10%;
  margin: 0;
  font-family: var(--fonte-principal);
}

.card-one p{
  padding: 10%;
  margin: 0;
  font-family: var(--fonte-principal);
  color: #13C9B8;
}


.texto-final{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
}

.texto-final h2{
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  justify-content: center;
}

.texto-final h3{
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  justify-content: center;
  color: #13C9B8;
  font-size: 24px;
  margin: 0;
}


.texto-final p{
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  color: #000;
  margin: 0;
  margin-bottom: 50px;
  font-family: var(--fonte-principal);
}

.texto-final span{
  width: 100%;
  color: #000;
  font-family: var(--fonte-principal);
  text-align: center;
  margin-bottom: 15px;
}




@media (max-width: 1000px) {

  .imagem-banner-direita{
    width: 80%;
    position: absolute;
    opacity: 0.8;
    justify-content: center;
    top: 25%;
  }


  .banner-imagem-texto{
    width: 90%;
    align-content: center;
    justify-content: center;
  }

  .conteudo-banner{
    width: 100%;
    text-align: center;
    align-content: space-between;
    height: 80vh;
    margin-top: 50px;

  }

  .conteudo-banner h1{
    width: 100%;
    margin: 0 auto;
    padding: 0 10%;
    z-index: 1;
    font-size: 2em;
    justify-content: center;
    text-align: center;
    margin-bottom: 100px; 
    
  }

  .conteudo-banner h2{
    width: 100%;
    margin: 0;
    padding: 0 10%;
    z-index: 1;
    font-size: 2em;
    justify-content: center;
    text-align: center;
  }

  .conteudo-banner p{
    width: 100%;
    margin: 10px auto;
    z-index: 1;
    padding: 0 20%;
    justify-content: center;
    text-align: center;
  }

  .config-botao-banner{
    justify-content: center;

  }

  .botao-cadastrar-banner{
    width: 60%;
    z-index: 1;
  }


  .card-list{
    flex-direction: column;
  }

  .card-one{
    width: 80%;
    max-width: 100%;
    flex-direction: column;

  }

  .card-one h4{
    font-size: 32px;
  }

  .card-one p{
    font-size: 24px;
  }

  .icone-botao-menu-2{
    width: 20%;
    margin: 20px 0;
  }

  .texto-final h2{
    justify-content: flex-start;
  }
  
  .texto-final{
    justify-content: flex-start;
  }



  .texto-final h3{
    justify-content: flex-start;
  }

  .texto-final span{
    color: #000;
    font-family: var(--fonte-principal);
    text-align: left;
    margin-bottom: 15px;
  }




}
